# Prisma
DATABASE_URL=file:./db.sqlite


# Next Auth
NEXTAUTH_SECRET=cool_secret
NEXTAUTH_URL=http://localhost:3000

# Next Auth Providers
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# DigitalOcean Spaces
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
NEXT_PUBLIC_BUCKET=


# Google Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX