---
import Layout from "../layouts/Layout.astro";

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);


---

<Layout title="Welcome to Craftex.">
  <main>
    <h1>User Id {session.user.userId}</h1>
    <h1>Username {session.user.username}</h1>

    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
  </main>
</Layout>
