---
import Layout from "../layouts/Layout.astro";
import { LuciaProviderIds } from "../lib/db";
import { auth } from "../lib/lucia";

const session = await Astro.locals.auth.validate();
if (session) return Astro.redirect("/", 302);

let errorMessage: string | null = null;
let usernameInput = "";

// alot of duplicate logic, testing atm will cleanup later
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const username = formData.get("username");
  const password = formData.get("password");

  if (typeof username === "string") usernameInput = username;

  const usernameIsValid =
    username &&
    typeof username === "string" &&
    username.length >= 4 &&
    username.length <= 64;

  const passwordIsValid =
    password &&
    typeof password === "string" &&
    password.length >= 8 &&
    password.length <= 255;

  console.table({
    username,
    password,
    usernameIsValid,
    passwordIsValid,
  });

  if (usernameIsValid && passwordIsValid) {
    try {
      const key = await auth.useKey(
        LuciaProviderIds["username"],
        username.toLowerCase(),
        password
      );

      console.log('Found key', key);

      const session = await auth.createSession({
        userId: key.userId,
        attributes: {},
      });

      console.log('Created session', session);

      Astro.locals.auth.setSession(session);

      return Astro.redirect("/", 302);
    } catch (e) {
      console.error(e);
      errorMessage = "Invalid username or password";
    }
  } else {
    errorMessage = "Invalid username or password";
  }
}
---

<Layout title="Login">
  <h1>Login</h1>
  <form method="post">
    <input
      class="border-2 border-gray-600"
      type="text"
      name="username"
      id="username"
    />
    <br />
    <input
      class="border-2 border-gray-600"
      type="password"
      name="password"
      id="password"
    />
    <input
      type="submit"
      value="Login"
    />
  </form>
  <p class="text-red-400">{errorMessage}</p>
  <a href="/signup">Sign Up</a>
</Layout>