---
import Layout from "../layouts/Layout.astro";

import { auth } from "../lib/lucia";
import { LuciaProviderIds } from "../lib/db";
import { user } from "../lib/db/schema";

const session = await Astro.locals.auth.validate();
if (session) return Astro.redirect("/", 302);

let usernameInput = "";
let error: string | null = null;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();

  console.log("received POST signup form data", formData);

  const username = formData.get("username");
  const password = formData.get("password");

  if (typeof username === "string") usernameInput = username;

  const usernameIsValid =
    username &&
    typeof username === "string" &&
    username.length >= 4 &&
    username.length <= 64;

  const passwordIsValid =
    password &&
    typeof password === "string" &&
    password.length >= 8 &&
    password.length <= 255;

  console.log("usernameIsValid", usernameIsValid);
  console.log("passwordIsValid", passwordIsValid);

  if (usernameIsValid && passwordIsValid) {
    try {

      console.log('create')
      // we create the user, session creation happens when only when a user logs in
      const user = await auth.createUser({
        key: {
          providerId: LuciaProviderIds["username"],
          providerUserId: username.toLowerCase(),
          password, // hashing handled by lucia
        },

        attributes: {
          username,
        },
      });

      console.log("created user", user);

      return Astro.redirect("/login", 302);
    } catch (e) {
      console.log("error creating user", e);
      if ((e as any)?.message === "Duplicate entry") {
        error = "Username already taken";
      } else {
        console.error(e);
        error = "An unknown error occurred";
      }
    }
  } else {
    error = "Invalid username or password";
  }
}
---

<Layout title="Sign Up">
  <h1>Sign up</h1>
  <form method="post">
    <input
      class="border-2 border-gray-600"
      type="text"
      name="username"
      id="username"
    />
    <br />
    <input
      class="border-2 border-gray-600"
      type="password"
      name="password"
      id="password"
    />
    <input
      type="submit"
      value="Sign up"
    />
  </form>
  <p class="text-red-400">{error}</p>
  <a href="/login">Sign In</a>
</Layout>
